/*... fonts.... */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* ...fonts familly..... */

/*...... utilits.......... styles .... */

body{
    font-family: 'Poppins', sans-serif;
    width: 1440px;
    background-color: lightyellow;
    
    }
    /* ..........header styles ......... */
    .container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        background-color: #2D25A0;
        width: 1440px;
        height: 677px;
        margin: 30px;
        padding: 100px;

    }
    .match-link {
        width: 485px;
        height: 230px;
        font-size: 40px;
        color: #FFFFFF ;
        font-weight:normal; 
 
    }
    /* .top-banner{ */
      
    .top-banner img {
        width: 556px;
        height: 438px;
       
      }
       .text{
            font-size: 30px;
            color: #FFFFFF ;
            border: 2px solid #E02C6D;
            border-radius: 5px;
            background-color: #E02C6D;
            width: 168px;
            height: 44px;
            padding: 10px;}
    a{ text-decoration: none;}  

     /* .........End header style ........... */

       /* ...............main top player styles ....... */

       .grid-container{
           display: grid;
           grid-template-columns: repeat(3, 1fr);
            justify-content: space-between;
            grid-gap: 27px 30px;
            margin: 70px 210px 0 180px;

       }
/*......... player detail stlye .......... */
  .player-info {    
      width: 330px;
      height: 474px;
      border: 5px solid green;
      border-radius: 5px;
      padding:15px;
      box-shadow: 10px 20px 30px gainsboro;
  }
    .player-info:hover {background-color:rgba(0, 255, 255, 0.568);}

  img {
      width: 300px;
      height: 256px;
  }
  .name-of-player{
      font-size: 28px;
      font-weight: bold;
      color: black;

  }
  .player-blog{
      font-size: 16px;
      font-weight: bold;
      color: #6C6C6C;
  }
/*....... main top player style end ........ */

  /* Copa  Highlight style...... */
  .highlight-container{
      display:grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 165px 0 0 180px;
      padding: 30px;
      
  }

  .highlight-copa{
      width: 466px;
      height: 309px;
      font-size: 30px;
      font-family: 'Times New Roman', Times, serif;
      color: #6C6C6C;}

    .highlight-copa:hover {
          background-color:skyblue;}
      

  }
    .banner{
        width: 567px;
        height: 427px; 
  }
  /* foote styles....  */

.footer-container{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
         margin-top: 100px;
         text-align: center;
           text-align: center;
  }
.logo-image img{
    
            width: 50%;
        }

  .icon  { font-size: 50px;
        margin: 15px;
        color:grey}
        /* footr style end ........ */
       
        /* mediaquary .......... */
        /* for phone ............ */
        /* *{
            box-sizing: border-box;
        }
        @media only screen and (max-width: 786px){
        .grid-container{
                display: flex;
                grid-template-columns: repeat(3,1fr);
                

            }
        } */


  

